.div-style{
    display: flex;
    width: 96%;
    height: 150px;
    align-items: center;
    justify-items: center;
    background-color: #F0F3F8;
    margin: 2%;
}

.first-heading {
    font-weight: bold;
    margin: 1%;
    margin-top: 40px;
    font-family: agcfont-bold;
}

.paragraph{
    margin-top: 50px;
    font-family: agcfont-regular;
    color: #868686;
}

.mid-heading{
    font-weight: bold;
    margin: 1%;
    margin-top: 60px;
    font-family: agcfont-bold;
    text-align: center;
}


.project-table{
    margin: 1%;
    width: 98%;
}

.project-details{
    width: 96%;
    margin: 2%; 
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 16pt;
    display: flex;
    flex-direction: column;
}

.project-details tr{
    display: flex;
}

.column-title {
    padding: 10pt;
    width: 80%;
    color: grey;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}
  
.column-title:hover {
    color: navy;
}
  
tr:first-child {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2)!important;
    border-top: 2px solid navy;
    color: #9ba6b1;
}

tr:second-child {
    box-shadow: 0 2px 2px rgba(86, 67, 110, 0.2);
}


.second-row{
    background-color: rgba(240,243,248,1);
    box-shadow: 0 2px 2px rgba(86, 67, 110, 0.2);
}

.table-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.move-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border-color: transparent;
    margin-left: 40px;
}
  
.move-button:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .project-details{
        flex-direction: row;
    }
    .project-details tr{
        margin: 0;
        flex-direction: column;
        width: 50%;
        border-top: 2px solid navy;
    }
    .column-title{
        text-align: left;
        font-size: 14px;
        width: 100%;
        height: auto;
        align-items: center;
    }
    .div-style{
        flex-direction: column;
        align-items: center;
    }
    .first-heading {
        width: 100%;
        text-align: center;
    }
    .paragraph{
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .table-buttons{
        flex-direction: column;
        padding-left: 5ppx;
        justify-content: space-between;
        align-items:normal
    }
}