.header-title {
    background-color: #1eae63;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 20px !important;
    margin-left: 90px;
    margin-top: 15px;
    color: white;
}

.account-information {
    color: white;
    margin-top: 15px;
    margin-right: 60px;
}

.connection-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border-color: transparent;
    margin-right: 20px;
}

.connection-button:hover {
    background-color: #45a049;
}
