.header-title {
    background-color: #1eae63;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 20px !important;
    margin-left: 90px;
    margin-top: 15px;
    color: white;
}

.account-information {
    color: white;
    margin-top: 10px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;
}

.connection-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    border-color: transparent;
    margin-right: 20px;
}

.connection-button:hover {
    background-color: #45a049;
}
 
  .account-information > *:not(:last-child) {
    margin-right: 20px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent !important;
    color: #fff !important;
    outline: none !important;
    border: none !important;
  }

  .dropdown:focus {
    outline: none !important;
    box-shadow: none !important;
  }